@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  overflow-x: hidden !important;
}

.swiper {
  overflow: visible !important;
}

.swiper-wrapper {
  overflow: visible !important;
}
